table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
  text-align: center;
}

::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
  color: seagreen;
  font-size: 1.4em;
}

.mat-row {
  height: auto;
  cursor: pointer;
}
.mat-row:hover {
  height: auto;
  cursor: pointer;
  background-color: crimson;
}
.mat-row:hover >td{
  color:white !important;
  font-weight: bolder;
}

.mat-cell {
  padding: 8px 8px 8px 0;
}
